@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

:root {
  --primary-color: #a8518f;
  --secondary-color: #fdce07;
  --dark-color: #1e1e1e;
  --dark-blue-color: #173c6a;
}

body {
  background: var(--dark-color) !important;
  color: var(--secondary-color) !important;
  height: 100vh;
}

.navbar {
  background: #1e1e1ed0 !important;
}
.header .nav-link {
  color: var(--primary-color) !important;
}
.header .nav-link:hover {
  color: var(--secondary-color) !important;
}
.navbar-toggler-icon {
  background-image: url('./images/menu.png');
}
.navbar-toggler {
  box-shadow: 1px 1px var(--primary-color) !important;
}
.navbar-nav {
  text-align: end !important;
}
.text-primary {
  color: var(--primary-color) !important;
}
.nav-link {
  transition: 0.5s ease-in-out;
}
.nav-link:hover {
  transform: translate(0px, -10%);
  position: relative;
  content: '';
  border-top: 1px var(--primary-color) solid;
}
.text-secondary {
  color: var(--secondary-color) !important;
}
.header .btn-primary {
  background: var(--primary-color) !important;
  color: var(--secondary-color) !important;
  border: none;
  transition: 0.5s ease-in-out;
}
.header .btn-primary:hover {
  transform: translate(0px, -10%);
}

.hero button {
  background: var(--primary-color) !important;
  color: var(--secondary-color) !important;
  border: none;
  transition: 0.5s ease-in-out;
}
.hero button:hover {
  transform: translate(0px, -15%);
}

nav img {
  transition: 0.5s ease-in-out;
}
nav img:hover {
  transform: translate(0px, -15%);
}

.title {
  font-family: 'Rock Salt', cursive !important;
  background-image: url('./images/title.png');
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.ourWork img {
  transition: 0.5s ease-in-out;
}
.ourWork img:hover {
  transform: translate(0px, -20%);
}

.ourService .card {
  transition: 0.5s ease-in-out;
}
.ourService .card:hover {
  transform: scale(1.05);
  box-shadow: 0 1rem 3rem var(--primary-color) !important;
}
.ourProduction .card {
  background-color: var(--primary-color);
  transition: 0.5s ease-in-out;
}
.ourProduction .card:hover {
  transform: scale(1.05);
  box-shadow: 0 1rem 3rem var(--secondary-color) !important;
}
.ourTeam img {
  transition: 0.5s ease-in-out;
}
.ourTeam img:hover {
  transform: translate(0px, -10%);
}

.sendBtn {
  background: var(--primary-color) !important;
  color: var(--secondary-color) !important;
  border: none;
  transition: 0.5s ease-in-out;
}
.sendBtn:hover {
  transform: translate(0px, -15%);
}
a {
  text-decoration: none;
}
.h-top {
  position: relative;

  z-index: 2;
}
.hero-header {
  position: relative;
  background-color: var(--dark-color);
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.h-back {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #111;
  opacity: 0.8;
  z-index: 1;
}
